.header {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.header__container {
}

.header__item {
    font-style: "Poppins";
    font-weight: 600;
    font-style: 18px;
    line-height: 27px;
    margin-right: 32px;
}
