.container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-bottom: 136px;
}

.block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.image_container {
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
}

.header {
    font-family: "Eczar";
    font-weight: 700;
    font-size: 48px;
    line-height: 85px;
    margin-bottom: 57px;
}

@media screen and (max-width: 1024px) {
    .image_container {
        
    }

    .container {
        grid-template-columns: 100%;
        flex-direction: column-reverse;

    }

    .header {
        margin-top: 57px;
        text-align: center;
    }

    .email_button {
        text-align: center;
    }

    .image {
        width: auto;
        max-height: 500px;
    }

}

@media screen and (max-width: 425px) {
    .header {
        line-height: 75px;
    }

    .container {
        margin-bottom: 100px;
    }
}
