
.store_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    padding: 16px;
    background-color: #252525;
    border-radius: 16px;
    min-width: 110px;
}

.label {
    font-size: 14px;
}

@media screen and (max-width: 1024px) {


}