.header {
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    font-family: "Eczar";
    padding-bottom: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container__item {
    margin-bottom: 28px;
    width: 100%;
}

.card {
    background-color: #353535;
    border: none;
    border-radius: 24px;
    height: 512px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /*    margin: 0 47px 0 76px;*/
    padding: 0 0 0 76px;
}

.card__block {
    /*    margin-right: 76px;*/
    width: 40%;
    padding-right: 76px;
}

.card__header {
    font-family: "Work Sans";
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    margin: 4px 0;
}

.card__description {
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    max-width: 476px;
    margin: 4px 0;
}

.card__link {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    padding-top: 24px;
    color: #FFB742;
    /*color: rgba(255, 255, 255, 0.7);*/
}


.gplay_logo {
    width: 240px;
    margin-left: -15px;
}

.card__image {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app_store__container {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 64px;
}

.card__project_image {
    object-fit: contain
}

@media screen and (max-width: 1024px) {
    .card {
        height: auto;
    }

    .card__row {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 32px;
        padding: 0 0 32px 0;
    }

    .card__block {
        padding-right: 0;
        width: 80%;
    }

    .card__header {
        margin: 4px auto;
        text-align: center;
    }

    .card__description {
        max-width: auto;
        text-align: center;
        margin: 0 auto;
    }

    .card__image {
        width: 100%;
        height: 500px;
    }

    .gplay_logo {
        margin-left: 0;
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    .card__link {
        text-align: center;
    }

    .header {
        text-align: center;
    }

    .app_store__container {
        justify-content: center;
        gap: 48px;
    }
}

@media screen and (max-width: 640px) {
    .card__image {
        width: 100%;
        height: 300px;
    }

    .app_store__container {
        justify-content: center;
        gap: 16px;
    }
}
